/*colors*/
:root {
  --black: rgb(38, 38, 38);
  --lightgrey: rgb(250, 250, 250);
  --grey: rgb(203, 204, 205);
  --darkergrey: rgb(175, 176, 179);
}

/*generals*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}
.feedmenu a,
.search button,
.first li,
.second li {
  color: var(--darkergrey);
}
button {
  background-color: var(--lightgrey);
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 7px;
}

header .container,
.icons ul,
.description,
.description .container,
.description .toptext,
.description .stats,
.description .text,
.highlights ul,
.posts ul,
.feedmenu, footer .container .first, footer .container .second {
  display: flex;
}
header .container,
.description .toptext,
.description .stats,
.posts ul, footer .container .first {
  justify-content: space-between;
}
.icons ul,
.profile,
.description,
.feedmenu, footer .container .second {
  justify-content: center;
}
header .container,
.icons ul,
.profile,
.description,
.description .toptext {
  align-items: center;
}
.logo,
.icons {
  width: 20%;
}
.description .toptext .username h1,
.description .text {
  font-weight: 300;
}
.bio .name,
.description .toptext button,
.highlights ul li h4,
.feedmenu {
  font-weight: 500;
}

.container {
  padding: 0px 185px 0px 185px;
}

body {
  background-color: var(--lightgrey);
}

/*header*/
header .container {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px var(--grey) solid;
  background-color: rgb(255, 255, 255);
}

.logo img {
  width: 150px;
}
.search button {
  padding-right: 73px;
  padding-left: 73px;
  font-size: 12px;
}

.icons ul li {
  padding-right: 25px;
}
.profile {
  height: 20px;
  width: 20px;
  padding: 1px;
  border: 2px solid var(--black);
  border-radius: 50%;
}
/*about user*/
.pfp img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.stories-border {
  height: 150px;
  width: 150px;
  position: relative;
  border: 4px solid transparent;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background-clip: padding-box;
  padding: 5px;
}
.stories-border::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(rgb(201, 4, 125), rgb(248, 12, 150), orange);
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.description .container {
  width: 60%;
  height: 225px;
  padding: 25px;
}
.description .pfp {
  width: 30%;
}
.description .text {
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  width: 60%;
}
.description .toptext {
  width: 60%;
  margin-bottom: 20px;
}

.description .toptext button {
  font-size: 14px;
}
.description .stats {
  width: 80%;
  margin-bottom: 20px;
}

/*destaques*/
.highlights ul {
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
  margin: 0 40px 0px 40px;
}
.highlights .border {
  border: 1px solid var(--grey);
}
.hlphoto img {
  height: 77px;
  width: 77px;
  border-radius: 50%;
  padding: 3px;
}

.highlights ul li h4 {
  padding-top: 10px;
  font-size: 14px;
}
.feedmenu {
  margin: 60px 20px 20px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  border-top: 1px solid var(--grey);
}
.feedmenu a {
  padding: 20px 25px 0px 25px;
}
.feedmenu .active {
  color: var(--black);
  border-top: 1px solid var(--black);
  border-width: 60%;
}
.posts ul {
  flex-wrap: wrap;
  margin: 0px 20px 0 20px;
}
.posts ul li {
  margin-bottom: 20px;
  position: relative;
}
.feed .posts li img {
  height: 290px;
  width: 290px;
}
.posts .poststats {
  position: absolute;
  top: 50%;
  right: 25%;
  color: #fff;
  visibility: hidden;
  font-size: 14px;
}
.posts li:hover .poststats {
  visibility: visible;
  opacity: 1;
}
footer .container{
  margin: 0 160px;
  padding: 30px 0;

}
footer .container .second{
  padding-top: 20px;
}